* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
}
#app {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
#screen {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#targetCount {
  position: absolute;
  right: 10px;
  top: 10px;

  font-size: 1.5rem;
}
#pinwheel {
  width: 100px;
}
#pinwheel > img {
  width: 100%;
}
#animatedPin {
  transform-origin: 50% 40%;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#userInput {
  resize: none;
  width: 100%;
  height: 50%;
  padding: 1rem;
  font-size: 1.5rem;
}
