* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#app {
  width: 100%;
  max-width: 574px;
  height: 300px;
  border: 2px solid black;
  position: relative;
}
#avatar {
  width: 150px;
  position: absolute;
  bottom: 0px;
  left: 100px;
  transform: scaleX(-1);
}
#avatar > img {
  width: 100%;
}
#life {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 50px;
  z-index: 3;
}
#life > img {
  width: 36px;
  height: 36px;
}
#lifeCount {
  margin-left: 10px;
  font-size: 36px;
}
.pannel {
  width: 100%;
  max-width: 574px;
  height: 300px;
}
#top {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 20px;
}
#bottom {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
}
.foodButton {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foodButton:hover {
  cursor: pointer;
  background-color: yellow;
}
.tooltip {
  position: absolute;
  right: 10px;
  top: 10px;
  /* border: 1px solid black; */
  color: red;
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  height: 20px;
  text-align: center;
  opacity: 0;
}
@keyframes fadeInOut {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
.fadeInOut {
  animation: fadeInOut 1s;
}
